---

import CategoryCloud from "../components/CategoryCloud.astro";
import PostHeader from "../components/PostHeader.astro";
import RelatedPosts from "../components/RelatedPosts.astro";
import { formatBlogPosts } from "../js/util";
import MainLayout from "./MainLayout.astro"

const {frontmatter} = Astro.props
const {category, image, title, author, date, description,robots} = frontmatter;

const allPosts = await Astro.glob("../pages/blog/*.md")
const formattedPosts = formatBlogPosts(allPosts,{
  sortByDate: false
})
const relatedPosts = formattedPosts.filter((post)=>
   title.toLowerCase() !== post.frontmatter.title.toLowerCase() && category === post.frontmatter.category ).slice(0,3)



---

<MainLayout title={title} description={description} image={image}
frontmatter={frontmatter}
robots={robots}>
    <PostHeader
    frontmatter={frontmatter}
    />
    <div class="post-content">
        <div class="content">
          <slot />
        </div>
        <div class="sidebar">
          <aside class="container" aria-label="Blog categories">
            <h2 class="h3">Categories</h2>
            <CategoryCloud showCount={false}/>
        
          </aside>

          {
            relatedPosts.length > 0 &&(
              <aside class="container" aria-label="Related posts">
                <h2 class="h3">Related Posts</h2>
                <RelatedPosts relatedPosts={relatedPosts}/>
                </aside>
                )
            }
        </div>
      </div>
      
</MainLayout>