---

import CategoryCloud from "../components/CategoryCloud.astro";
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro"

const {frontmatter} = Astro.props


---

<MainLayout title={frontmatter.title} description={frontmatter.description}>
    <PostHeader
    frontmatter={frontmatter}
    />
    <div class="post-content">
        <div class="content">
          <slot />
        </div>
        <div class="sidebar">
          <aside class="container" aria-label="Blog categories">
            <h2 class="h3">Categories</h2>
            <CategoryCloud showCount={false}/>
        
          </aside>
        </div>
      </div>
</MainLayout>